@import "tailwindcss";

@theme inline {
  --color-orange: #F47B20;
  --color-orange-dark: #d96a10;
  --color-dark: #1A1A1A;
  --color-bg: #F5F2EE;
  --color-gray-text: #666666;
}

body {
  background: #F5F2EE;
  color: #1A1A1A;
  font-family: var(--font-poppins), sans-serif;
}
